# Example Visualizations using CyberGIS-Vis

## Setup environment

In [1]:
import pandas as pd
import geopandas as gpd
from Adaptive_Choropleth_Mapper import Adaptive_Choropleth_Mapper_viz, Adaptive_Choropleth_Mapper_log

## Visualizations for Spatiotemporal Data

### Set input data: COVID-19 data and the number of visits estimated based on Twitter data

In [ ]:
Covid_Visits = pd.read_csv("attributes/Covid_Visits.csv", dtype={'geoid':str})
Covid_Visits = Covid_Visits.rename(columns={'geoid': 'geoid'})
Covid_Visits

In [ ]:
shapefile_MSA = gpd.read_file("shp/MSA_country/msa_country.shp", dtype={'GEOID':str})
shapefile_MSA = shapefile_MSA.rename(columns={'GEOID': 'geoid', 'NAME_1':'name'})
shapefile

### Adaptive Choropleth Mapper with Multiple Line Chart (MLC)

In [ ]:
param_MLC_COVID = {
    'title': "Covid-19 Risk Assessment using Twitter, Metropolitan Statistical Areas, USA",
    'Subject': "Temporal Patterns",
    'filename_suffix': "COVID_MLC",                                      # max 30 character      
    'inputCSV': Covid_Visits,   
    'shapefile': shapefile_MSA, 
    'periods': "All",
    'variables': [         #enter variable names of the column you selected above.
            "Confirmed Rate",
            "Death Rate",
            "The Number of Visits from Outside to Inside of the selected MSA"
        ],
    'NumOfMaps':2,
    'InitialLayers':["2020-04-19_Confirmed Rate" , "2020-11-01_Confirmed Rate"],
    'Initial_map_center':[37, -97],
    'Initial_map_zoom_level':4,    
    'Map_width':"650px",
    'Top10_Chart': True,     
    'Multiple_Line_Chart': True,
    'NumOfMLC':3,
    'titlesOfMLC':["1. COVID-19 Confirmed Cases (/100k pop)", "2. COVID-19 Death Cases (/100k pop)", "3. The Number of Visitors"],
    'DefaultRegion_MLC':"35620" 
}
Adaptive_Choropleth_Mapper_viz(param_MLC_COVID)
Adaptive_Choropleth_Mapper_log(param_MLC_COVID)

### Adaptive Choropleth Mapper with Comparison Line Chart (CLC)

In [ ]:
param_CLC_COVID = {
    'title': "Comparison of COVID-19 Confirmed Rate between Metropolitan Statistical Areas, USA",
    'Subject': "Temporal Patterns",
    'filename_suffix': "COVID_CLC",                                      # max 30 character      
    'inputCSV': Covid_Visits,   
    'shapefile': shapefile_MSA, 
    'periods': "All",
    'variables': [         #enter variable names of the column you selected above.
            "Confirmed Rate"
        ],
    'NumOfMaps':2,
    'InitialLayers':["2020-04-19_Confirmed Rate" , "2020-11-01_Confirmed Rate"],
    'Initial_map_center':[37, -97],
    'Initial_map_zoom_level':4,    
    'Map_width':"650px",
    'Top10_Chart': True,     
    'Comparision_Chart': True,
    'NumOfCLC': 46,
    'DefaultRegion_CLC': ["35620", "16980"] 
}
Adaptive_Choropleth_Mapper_viz(param_CLC_COVID)

### Set input data: HIV data

In [ ]:
input_attributes_hiv = pd.read_csv("attributes/HIV_US_multiple_long.csv", dtype={'geoid':str})
input_attributes_hiv = input_attributes_hiv.rename(columns={'geoid': 'geoid'})
input_attributes_hiv

In [ ]:
shapefile_us = gpd.read_file("shp/US/counties.shp")
shapefile_us

### Adaptive Choropleth Mapper with Parallel Coordinate Plot (PCP) for Time Series Visualization

In [ ]:
param_PCP_hiv = {
    'title': "Adaptive Choropleth Mapper with Paralle Coordinate Plot",
    'filename_suffix': "HIV_PCP",                                      # max 30 character  
    #'inputCSV': "data_imputedx.csv",     
    'inputCSV': input_attributes_hiv,   
    'shapefile': shapefile_us, 
    'periods': [2012, 2013, 2014, 2015, 2016, 2017, 2018],
    'variables': [         #enter variable names of the column you selected above.
            "HIV",
            #"Health Care Center (/100k pop)"
        ],
    'NumOfMaps':2,
    'Initial_map_center':[37, -97],
    'Initial_map_zoom_level':4,    
    'Map_width':"650px",
    'Top10_Chart': True,    
    'Parallel_Coordinates_Plot': True,
    'NumOfPCP':7,
}
Adaptive_Choropleth_Mapper_viz(param_PCP_hiv)

## Visualizations for Exploring Relationship between data

### Set input data: Socioeconomic and Demographic Data from LTDB

In [2]:
input_attributes = pd.read_csv("attributes/Los_Angeles_1980_1990_2000_2010.csv", dtype={'geoid':str})
input_attributes = input_attributes.rename(columns={'geoid': 'geoid'})
input_attributes

,geoid,year,n_asian_under_15,n_black_under_15,n_hispanic_under_15,n_native_under_15,n_white_under_15,n_persons_under_18,n_asian_over_60,n_black_over_60,...,n_vietnamese_persons,n_widowed_divorced,n_white_persons,n_total_housing_units_sample,p_white_over_60,p_black_over_60,p_hispanic_over_60,p_native_over_60,p_asian_over_60,p_disabled
0,06037101110,1980,4.512923,0.0,17.805532,3.938551,118.074478,159.429260,0.328213,0.0,...,0.164106,72.042664,NaN,216.045944,11.362683,0.0,0.181691,0.000000,0.055905,4.416492
1,06037101122,1980,49.069336,0.0,193.180725,42.705280,1281.120850,1729.904922,3.555239,0.0,...,1.795797,781.720006,NaN,2344.410583,11.367037,0.0,0.181974,0.000000,0.055802,4.420126
2,06037101210,1980,5.341171,0.0,143.240494,2.913366,473.907501,649.680603,2.913366,0.0,...,2.427805,468.080780,NaN,1035.216064,11.672832,0.0,1.294698,0.184957,0.123305,9.103987
3,06037101220,1980,5.658829,0.0,151.759506,3.086634,502.092438,688.319336,3.086634,0.0,...,2.572195,495.919190,NaN,1096.783936,11.672832,0.0,1.294698,0.184957,0.123305,9.103987
4,06037101300,1980,60.132671,0.0,100.549713,13.800941,691.032837,959.165405,0.000000,0.0,...,5.914689,437.686981,NaN,1358.406860,13.719433,0.0,0.334620,0.000000,0.000000,6.383527
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9361,06037980031,2010,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,NaN,NaN,...,0.000000,281.000000,NaN,25.000000,NaN,NaN,NaN,NaN,NaN,NaN
9362,06037980033,2010,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,NaN,NaN,...,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
9363,06037990100,2010,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,NaN,NaN,...,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
9364,06037990200,2010,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,NaN,NaN,...,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
9365,06037990300,2010,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,NaN,NaN,...,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
shapefile = gpd.read_file("shp/Los_Angeles_tract/Los_Angeles_2.shp")
shapefile = shapefile.rename(columns={'tractID': 'geoid', 'tract_key': 'name'})
shapefile

            geoid    name                                           geometry
0     06037101110  101110  POLYGON ((-118.29792 34.26322, -118.29696 34.2...
1     06037101122  101122  POLYGON ((-118.29697 34.27881, -118.29410 34.2...
2     06037101210  101210  POLYGON ((-118.29945 34.25598, -118.29792 34.2...
3     06037101220  101220  POLYGON ((-118.27610 34.24648, -118.27618 34.2...
4     06037101300  101300  POLYGON ((-118.26602 34.24036, -118.26657 34.2...
...           ...     ...                                                ...
2339  06037920108  920108  POLYGON ((-118.55944 34.44441, -118.55957 34.4...
2340  06037920200  920200  POLYGON ((-118.57207 34.47017, -118.57211 34.4...
2341  06037990100  990100  POLYGON ((-118.94518 34.04309, -118.93753 34.0...
2342  06037990200  990200  POLYGON ((-118.42545 33.76085, -118.42816 33.7...
2343  06037990300  990300  POLYGON ((-118.24463 33.71077, -118.24457 33.7...

[2344 rows x 3 columns]

### Adaptive Choropleth Mapper with Scatter Plot

In [4]:
param_Scatter = {
    'title': "Adaptive Choropleth Mapper with Scatter Plot",
    'filename_suffix': "LA_Scatter",
    'inputCSV': input_attributes,   
    'shapefile': shapefile,
    'periods': [2010],
    'label': "short_name", #Pick variable,short_name,full_name from template/conversion_table_codebook.csv         
    'variables': [         #enter variable names of the column you selected above.
        "p_nonhisp_white_persons",
        "p_nonhisp_black_persons",
        "p_hispanic_persons",
        "p_asian_persons",
        "p_foreign_born_pop",
        "p_edu_college_greater",
        "p_unemployment_rate",
        "p_employed_manufacturing",
        "p_poverty_rate",
        "p_vacant_housing_units",
        "p_owner_occupied_units",
        "p_housing_units_multiunit_structures",
        "median_home_value",
        "p_structures_30_old",
        "p_household_recent_move",
        "p_persons_under_18",
        "p_persons_over_60",     
    ],
    'Map_width':"450px",
    'Map_height':"450px",
    'Scatter_Plot': True,        
} 
Adaptive_Choropleth_Mapper_viz(param_Scatter)

output directory :  ACM_LA_Scatter
To see your visualization, click the URL below (or locate the files):
F:\Github\suhanmappingideas\CyberGIS-Vis\Quantitative_Data_Vis\ACM_LA_Scatter\index.html
To access all visualizations that you have created, click the URL below (or locate the files):
F:\Github\suhanmappingideas\CyberGIS-Vis\Quantitative_Data_Vis/ACM_log.html
Advanced options are available in
F:\Github\suhanmappingideas\CyberGIS-Vis\Quantitative_Data_VisACM_LA_Scatter/data/CONFIG_LA_Scatter.js

### Adaptive Choropleth Mapper with Correlogram

In [ ]:
param_Correlogram = {
    'title': "Adaptive Choropleth Mapper with Correlogram",
    'filename_suffix': "LA_Correlogram",
    'inputCSV': input_attributes,   
    'shapefile': shapefile,
    'NumOfMaps':6,
    'periods': [2010],
    'label': "short_name", #Pick variable,short_name,full_name from template/conversion_table_codebook.csv         
    'variables': [         #enter variable names of the column you selected above.
        "p_nonhisp_white_persons",
        "p_nonhisp_black_persons",
        "p_hispanic_persons",
        "p_asian_persons",
        "p_foreign_born_pop",
        "p_edu_college_greater",
        "p_unemployment_rate",
        "p_employed_manufacturing",
        "p_poverty_rate",
        "p_vacant_housing_units",
        "p_owner_occupied_units",
        "p_housing_units_multiunit_structures",
        "median_home_value",
        "p_structures_30_old",
        "p_household_recent_move",
        "p_persons_under_18",
        "p_persons_over_60",     
    ],
    'Map_width':"350px",
    'Map_height':"350px",
    'Correlogram': True,        
} 
Adaptive_Choropleth_Mapper_viz(param_Correlogram)

### Adaptive Choropleth Mapper with Parallel Coordinate Plot (PCP) to visulize relationship between variables.

In [ ]:
param_PCP = {
    'title': "Adaptive Choropleth Mapper with Paralle Coordinate Plot",
    'filename_suffix': "Census_PCP",                                      # max 30 character  
    #'inputCSV': "data_imputedx.csv",     
    'inputCSV': input_attributes,   
    'shapefile': shapefile, 
    'periods': [2010],
    'variables': [         #enter variable names of the column you selected above.
            "p_nonhisp_white_persons",
            "p_nonhisp_black_persons",
            "p_hispanic_persons",
            "p_asian_persons",
            "p_employed_manufacturing",
            "p_poverty_rate",
            "p_foreign_born_pop",
            "p_persons_under_18",
            "p_persons_over_60",  
            "p_edu_college_greater",
            "p_unemployment_rate",
            "p_employed_professional",
            "p_vacant_housing_units",
            "p_owner_occupied_units",
            "p_housing_units_multiunit_structures",
            "median_home_value",
            "p_structures_30_old",
            "p_household_recent_move",
      
        ],
    'label': "short_name", #Pick variable,short_name,full_name from template/conversion_table_codebook.csv 
    'NumOfMaps':2,
    'Map_width':"650px",
    'Top10_Chart': True,    
    'Parallel_Coordinates_Plot': True,
    'NumOfPCP':10,
    'InitialVariablePCP': ["2010_% white (non-Hispanic)", "2010_% black (non-Hispanic)", "2010_% Hispanic", "2010_% Asian & PI race", "2010_% professional employees", "2010_% manufacturing employees", "2010_% in poverty", "2010_% foreign born", "2010_% 17 and under (total)", "2010_% 60 and older"]
}
Adaptive_Choropleth_Mapper_viz(param_PCP)

### Adaptive Choropleth Mapper with Stacked Chart

In [ ]:
param_Stacked = {
    'title': "Adaptive Choropleth Mapper with Stacked Chart",
    'filename_suffix': "LA_Stacked",
    'inputCSV': input_attributes,   
    'shapefile': shapefile,
    'periods': [1980, 1990, 2000, 2010],
    'NumOfMaps': 5,
    'label': "short_name", #Pick variable,short_name,full_name from template/conversion_table_codebook.csv         
    'variables': [         #enter variable names of the column you selected above.
        "p_asian_persons",    
    ],
    'Map_width':"350px",
    'Map_height':"350px",    
    'Stacked_Chart': True,  #Comment out if you do not want to visualize this chart       
}  
Adaptive_Choropleth_Mapper_viz(param_Stacked)

### Adaptive Choropleth Mapper with Top 10 Bar Chart

In [ ]:
param_bar = {
    'title': "Adaptive Choropleth Mapper with Stacked Chart",
    'filename_suffix': "LA_ACM",
    'inputCSV': input_attributes,   
    'shapefile': shapefile,
    'periods': [1980, 1990, 2000, 2010],
    'NumOfMaps': 3,
    'label': "short_name", #Pick variable,short_name,full_name from template/conversion_table_codebook.csv         
    'variables': [         #enter variable names of the column you selected above.           
        "p_other_language",
        "p_female_headed_families",
        "per_capita_income",     
    ],
    'Top10_Chart': True,  #Comment out if you do not want to visualize this chart      
}  
Adaptive_Choropleth_Mapper_viz(param_bar)