In [1]:
import json, math, copy
from geosnap.data import store_ltdb
from geosnap.data import Community
from geosnap.data import store_census
from geosnap.data import data_store
import pandas as pd
import shapely.wkt
import shapely.geometry
from datetime import datetime
from datetime import timedelta
from pathlib import Path
from INCS import linc
import urllib.parse
import webbrowser
import os
import pprint

In [2]:
param = {
		'title': "Neighborhood Analysis: Kmeans, All metros",
		'filename_suffix': "All",
		'allMetros': True,
		'years': [1980, 1990, 2000, 2010],
		'method': "kmeans",
		'nClusters': 8,
		'variables': [
					  "p_nonhisp_white_persons", 
					  "p_nonhisp_black_persons", 
					  "p_hispanic_persons", 
					  "p_native_persons", 
					  "p_asian_persons",
					 ],
	}

In [3]:
geoid       = 'geoid'
method      = param['method']
nClusters   = param['nClusters']
years       = param['years']
variables   = param['variables']
seqClusters = 5
distType    = 'tran'

In [6]:
metros = data_store.msas()
metros

,geoid,name,type,geometry
0,10100,"Aberdeen, SD",Micro Area,"POLYGON ((-98.722481 45.243764, -98.72542 45.2..."
1,10140,"Aberdeen, WA",Micro Area,"POLYGON ((-124.305419 47.244644, -124.306367 4..."
2,10180,"Abilene, TX",Metro Area,"POLYGON ((-100.146543 32.522793, -100.146425 3..."
3,10220,"Ada, OK",Micro Area,"POLYGON ((-96.932515 34.680425, -96.9325219999..."
4,10260,"Adjuntas, PR",Micro Area,"POLYGON ((-66.829792 18.219989, -66.829769 18...."
...,...,...,...,...
940,49660,"Youngstown-Warren-Boardman, OH-PA",Metro Area,"POLYGON ((-81.00229 41.134189, -81.00231699999..."
941,49700,"Yuba City, CA",Metro Area,"POLYGON ((-121.62376 39.295621, -121.62339 39...."
942,49740,"Yuma, AZ",Metro Area,"POLYGON ((-114.763998 32.643364, -114.76331 32..."
943,49780,"Zanesville, OH",Micro Area,"POLYGON ((-82.19478599999999 40.020694, -82.19..."
944,49820,"Zapata, TX",Micro Area,"POLYGON ((-99.385401 26.981377, -99.3866499999..."

In [5]:
states = data_store.states(convert=False)
states

,geoid,name,wkb
0,54,West Virginia,0103000000010000003889000088F37002D36F54C0D3DC...
1,12,Florida,01060000000200000001030000000100000034000000A3...
2,17,Illinois,010300000001000000C938000030478FDFDBCB56C03525...
3,27,Minnesota,010300000001000000D5A10000A4A65D4C333258C0A3FF...
4,24,Maryland,0103000000010000006A65000029C93A1C5D5D53C01C25...
5,44,Rhode Island,0106000000020000000103000000010000004500000070...
6,16,Idaho,0103000000010000006D8900007E3672DD94395DC094DC...
7,33,New Hampshire,0103000000010000005A460000EBFEB1101D1552C0F94C...
8,37,North Carolina,010300000001000000747400000740DCD5AB9A54C005A2...
9,50,Vermont,010300000001000000DF2E000023D923D40C5452C03DF2...
10,09,Connecticut,0103000000010000006B0C00008C2D0439286152C0D93E...
11,10,Delaware,010300000001000000AD1400008E226B0DA5F052C06CEA...
12,35,New Mexico,010300000001000000241D0000425C397B67805AC0DEE4...
13,06,California,0106000000070000000103000000010000007900000097...
14,34,New Jersey,010300000003000000581D000095D4096822CC52C06247...
15,55,Wisconsin,010300000001000000523E00001897AAB4C53857C054E4...
16,41,Oregon,010300000001000000A4380000ACE5CE4C30045FC04180...
17,31,Nebraska,0103000000010000008B340000115322895E035AC042E8...
18,42,Pennsylvania,010300000001000000483C0000FE428F183D2154C02172...
19,53,Washington,010300000001000000021F0000A643A7E7DDCF5EC057E8...
20,22,Louisiana,0103000000010000002D5000005DBF60376C0457C0C404...
21,13,Georgia,010300000001000000E178000051103CBEBD5855C04697...
22,01,Alabama,0103000000010000000E35000047753A90F50856C0177E...
23,49,Utah,010300000001000000181D0000F303577902835CC07900...
24,39,Ohio,010300000001000000943D0000ADDEE176683355C0E76D...
25,48,Texas,010300000001000000C9E40000764EB340BBFE59C0BC74...
26,08,Colorado,0103000000010000002C1D0000E43098BF42435BC0B8C6...
27,45,South Carolina,0103000000010000009C420000DAC69FA86CAF54C046B0...
28,40,Oklahoma,010300000001000000B6530000ECBDF8A23D0059C01AF8...
29,47,Tennessee,010300000001000000ED6A00009D67EC4B368E54C0DC63...
30,56,Wyoming,0103000000010000005621000070B4E386DFC25BC0E8DC...
31,15,Hawaii,0106000000110000000103000000010000009C00000062...
32,38,North Dakota,010300000001000000CA7D0000F54BC45BE7025AC037BF...
33,21,Kentucky,010600000002000000010300000001000000B1000000B2...
37,23,Maine,0103000000010000003D59000043705CC64DBF51C044DE...
38,36,New York,0106000000030000000103000000010000002E00000062...
39,32,Nevada,01030000000100000015250000BC783F6EBFD45DC000DF...
40,02,Alaska,010600000032000000010300000001000000B4000000D0...
42,26,Michigan,01030000000100000080290000D95A5F24B49D55C0F6B4...
43,05,Arkansas,010300000001000000CA4500005660C8EA56A357C0A73C...
44,28,Mississippi,01030000000100000097470000E27492AD2EBD56C04C37...
45,29,Missouri,0103000000010000002F490000E1783E03EAA657C09CF8...
46,30,Montana,010300000001000000636E00005D4E098849E85CC0D36A...
47,20,Kansas,01030000000100000094330000C158DFC0E48259C069E2...
48,18,Indiana,01030000000100000096300000BC5B59A2B3E155C0A71F...
50,46,South Dakota,010300000001000000B84C00008864C8B1F51F59C0DAE2...
51,25,Massachusetts,01030000000100000075120000027CB779E3DF51C07991...
52,51,Virginia,0103000000010000007FAD0000A7CCCD37A2B753C03812...
53,11,District of Columbia,010300000001000000CF1D0000732A1900AA4753C04082...
54,19,Iowa,010300000001000000935D0000E6012CF2EB1F58C02A53...
55,04,Arizona,01030000000100000085260000DBF813950DA15CC025E8...

In [31]:
msas = data_store.msa_definitions
msas.set_index('stcofips', inplace=True)
msas

,CBSA Code,Metropolitan Division Code,CSA Code,CBSA Title,Metropolitan/Micropolitan Statistical Area,Metropolitan Division Title,CSA Title,County/County Equivalent,State Name,FIPS State Code,FIPS County Code,Central/Outlying County
stcofips,,,,,,,,,,,,
46013,10100,NaN,NaN,"Aberdeen, SD",Micropolitan Statistical Area,None,None,Brown County,South Dakota,46,013,Central
46045,10100,NaN,NaN,"Aberdeen, SD",Micropolitan Statistical Area,None,None,Edmunds County,South Dakota,46,045,Outlying
53027,10140,NaN,NaN,"Aberdeen, WA",Micropolitan Statistical Area,None,None,Grays Harbor County,Washington,53,027,Central
48059,10180,NaN,NaN,"Abilene, TX",Metropolitan Statistical Area,None,None,Callahan County,Texas,48,059,Outlying
48253,10180,NaN,NaN,"Abilene, TX",Metropolitan Statistical Area,None,None,Jones County,Texas,48,253,Outlying
...,...,...,...,...,...,...,...,...,...,...,...,...
06101,49700,NaN,472.0,"Yuba City, CA",Metropolitan Statistical Area,None,"Sacramento-Roseville, CA",Sutter County,California,06,101,Central
06115,49700,NaN,472.0,"Yuba City, CA",Metropolitan Statistical Area,None,"Sacramento-Roseville, CA",Yuba County,California,06,115,Central
04027,49740,NaN,NaN,"Yuma, AZ",Metropolitan Statistical Area,None,None,Yuma County,Arizona,04,027,Central
39119,49780,NaN,198.0,"Zanesville, OH",Micropolitan Statistical Area,None,"Columbus-Marion-Zanesville, OH",Muskingum County,Ohio,39,119,Central
48505,49820,NaN,NaN,"Zapata, TX",Micropolitan Statistical Area,None,None,Zapata County,Texas,48,505,Central

In [34]:
community = Community.from_ltdb(years=years, state_fips=states["geoid"].tolist())
community.gdf

,geoid,n_asian_under_15,n_black_under_15,n_hispanic_under_15,n_native_under_15,n_white_under_15,n_persons_under_18,n_asian_over_60,n_black_over_60,n_hispanic_over_60,...,year,n_total_housing_units_sample,p_nonhisp_white_persons,p_white_over_60,p_black_over_60,p_hispanic_over_60,p_native_over_60,p_asian_over_60,p_disabled,geometry
0,54009031101,0.0,4.432011,31.0,0.0,482.493561,1562.280069,0.0,6.541925,0.454881,...,1980,2509.032169,98.487061,9.486735,1.019121e-01,0.007086,0.0,0.0,5.504555,"POLYGON ((-80.63219599999999 40.393667, -80.62..."
1,54009031102,0.0,4.556511,0.0,0.0,333.899597,1543.362837,0.0,12.367675,0.000000,...,1980,1923.859503,98.620359,5.669686,2.296396e-01,0.000000,0.0,0.0,4.450846,POLYGON ((-80.60722799999999 40.34831399999999...
2,54009031200,0.0,0.112994,0.0,0.0,498.291901,898.128191,0.0,0.306697,0.000000,...,1980,1246.833466,98.986636,13.680930,9.294396e-03,0.000000,0.0,0.0,4.921499,"POLYGON ((-80.612796 40.347668, -80.611796 40...."
3,54009031400,0.0,0.000007,0.0,0.0,691.587524,1875.469958,0.0,0.000019,0.000000,...,1980,2687.066817,98.375586,13.515554,2.730785e-07,0.000000,0.0,0.0,5.006786,"POLYGON ((-80.61882762522549 40.2662446729761,..."
4,54009031600,0.0,0.000000,0.0,0.0,797.351868,1496.673620,0.0,0.000000,0.000000,...,1980,1636.272567,98.147115,6.507370,0.000000e+00,0.000000,0.0,0.0,4.193175,"POLYGON ((-80.60138599999999 40.253515, -80.60..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277624,04027012100,0.0,0.000000,195.0,0.0,79.000000,341.000000,NaN,NaN,NaN,...,2010,546.000000,40.767824,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-114.473254 33.02751, -114.371131 33..."
277625,04027980003,0.0,0.000000,0.0,0.0,0.000000,0.000000,NaN,NaN,NaN,...,2010,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-113.961239 32.418615, -113.597111 3..."
277626,04027980004,0.0,0.000000,0.0,0.0,0.000000,0.000000,NaN,NaN,NaN,...,2010,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-114.563057 32.479069, -114.563043 3..."
277627,04027980005,0.0,0.000000,0.0,0.0,0.000000,0.000000,NaN,NaN,NaN,...,2010,0.000000,34.606205,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-114.700637 32.487178, -114.700637 3..."
277628,04027980006,38.0,6.000000,170.0,20.0,534.000000,906.000000,NaN,NaN,NaN,...,2010,835.000000,56.739489,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-114.638199 32.633097, -114.637089 3..."

In [35]:
metroids = []
for index, row in community.gdf.iterrows():
    stcofips = row['geoid'][:5]
    try:
        metroids.append(msas.loc[stcofips, 'CBSA Code'])
    except KeyError:
        metroids.append(None)
community.gdf.insert(0, "stcofips", metroids, True)
community.gdf

,stcofips,geoid,n_asian_under_15,n_black_under_15,n_hispanic_under_15,n_native_under_15,n_white_under_15,n_persons_under_18,n_asian_over_60,n_black_over_60,...,year,n_total_housing_units_sample,p_nonhisp_white_persons,p_white_over_60,p_black_over_60,p_hispanic_over_60,p_native_over_60,p_asian_over_60,p_disabled,geometry
0,48260,54009031101,0.0,4.432011,31.0,0.0,482.493561,1562.280069,0.0,6.541925,...,1980,2509.032169,98.487061,9.486735,1.019121e-01,0.007086,0.0,0.0,5.504555,"POLYGON ((-80.63219599999999 40.393667, -80.62..."
1,48260,54009031102,0.0,4.556511,0.0,0.0,333.899597,1543.362837,0.0,12.367675,...,1980,1923.859503,98.620359,5.669686,2.296396e-01,0.000000,0.0,0.0,4.450846,POLYGON ((-80.60722799999999 40.34831399999999...
2,48260,54009031200,0.0,0.112994,0.0,0.0,498.291901,898.128191,0.0,0.306697,...,1980,1246.833466,98.986636,13.680930,9.294396e-03,0.000000,0.0,0.0,4.921499,"POLYGON ((-80.612796 40.347668, -80.611796 40...."
3,48260,54009031400,0.0,0.000007,0.0,0.0,691.587524,1875.469958,0.0,0.000019,...,1980,2687.066817,98.375586,13.515554,2.730785e-07,0.000000,0.0,0.0,5.006786,"POLYGON ((-80.61882762522549 40.2662446729761,..."
4,48260,54009031600,0.0,0.000000,0.0,0.0,797.351868,1496.673620,0.0,0.000000,...,1980,1636.272567,98.147115,6.507370,0.000000e+00,0.000000,0.0,0.0,4.193175,"POLYGON ((-80.60138599999999 40.253515, -80.60..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277624,49740,04027012100,0.0,0.000000,195.0,0.0,79.000000,341.000000,NaN,NaN,...,2010,546.000000,40.767824,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-114.473254 33.02751, -114.371131 33..."
277625,49740,04027980003,0.0,0.000000,0.0,0.0,0.000000,0.000000,NaN,NaN,...,2010,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-113.961239 32.418615, -113.597111 3..."
277626,49740,04027980004,0.0,0.000000,0.0,0.0,0.000000,0.000000,NaN,NaN,...,2010,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-114.563057 32.479069, -114.563043 3..."
277627,49740,04027980005,0.0,0.000000,0.0,0.0,0.000000,0.000000,NaN,NaN,...,2010,0.000000,34.606205,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-114.700637 32.487178, -114.700637 3..."
277628,49740,04027980006,38.0,6.000000,170.0,20.0,534.000000,906.000000,NaN,NaN,...,2010,835.000000,56.739489,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-114.638199 32.633097, -114.637089 3..."

In [36]:
allgdf = community.gdf[['stcofips', 'geoid', 'year'] + variables].copy()
allgdf.set_index('stcofips', inplace=True)
allgdf

,geoid,year,p_nonhisp_white_persons,p_nonhisp_black_persons,p_hispanic_persons,p_native_persons,p_asian_persons
stcofips,,,,,,,
48260,54009031101,1980,98.487061,0.845458,0.297304,0.091839,0.178678
48260,54009031102,1980,98.620359,0.739051,0.318717,0.135170,0.101897
48260,54009031200,1980,98.986636,0.114026,0.697040,0.151417,0.030232
48260,54009031400,1980,98.375586,1.125799,0.320738,0.028450,0.087939
48260,54009031600,1980,98.147115,1.136810,0.541263,0.000000,0.074104
...,...,...,...,...,...,...,...
49740,04027012100,2010,40.767824,3.290676,55.941499,0.000000,0.000000
49740,04027980003,2010,NaN,NaN,NaN,NaN,NaN
49740,04027980004,2010,NaN,NaN,NaN,NaN,NaN
49740,04027980005,2010,34.606205,15.095465,44.093079,4.773270,0.357995
49740,04027980006,2010,56.739489,4.760923,28.029678,1.174773,5.296785

In [37]:
metroid = '10220'

In [38]:
community.gdf = allgdf.loc[metroid]
community.gdf

,geoid,year,p_nonhisp_white_persons,p_nonhisp_black_persons,p_hispanic_persons,p_native_persons,p_asian_persons
stcofips,,,,,,,
10220,40123089598,1980,91.046025,1.338914,2.426776,5.271965,1.673641e-01
10220,40123088600,1990,77.625839,0.861573,0.945104,20.420292,1.261406e-01
10220,40123088700,1990,78.999848,2.662031,1.484692,16.809704,4.372511e-02
10220,40123088800,1990,80.275844,4.915841,1.011498,13.447072,3.342327e-01
10220,40123088900,1990,80.988681,3.672904,1.732502,12.404712,1.155001e+00
10220,40123089000,1990,84.980695,0.424710,1.196911,13.281853,7.722008e-02
10220,40123089100,1990,80.328597,2.797513,1.687389,14.964476,2.220249e-01
10220,40123089200,1990,76.769406,5.707763,1.255708,15.924658,3.424658e-01
10220,40123089300,1990,86.808024,1.791380,1.082819,10.040051,2.777269e-01
10220,40123089598,1990,88.854792,0.817997,0.818007,9.355830,1.278116e-01
10220,40123089600,1990,88.461793,0.000000,1.382881,10.107698,4.762771e-02
10220,40123088600,2000,71.767074,1.194067,2.104837,24.549484,2.428716e-01
10220,40123088700,2000,75.129533,2.547494,1.899827,20.120901,2.717636e-07
10220,40123088800,2000,75.916385,4.166053,1.575151,17.606359,6.477256e-01
10220,40123088900,2000,73.309179,4.589372,2.004831,18.067633,1.859903e+00
10220,40123089000,2000,74.063503,1.355690,1.141634,23.260792,1.783803e-01
10220,40123089100,2000,70.141343,3.710247,3.666078,21.952297,3.975265e-01
10220,40123089200,2000,63.655352,6.057441,7.362924,22.036554,8.355091e-01
10220,40123089300,2000,76.088789,3.596516,2.837876,16.633886,7.305423e-01
10220,40123089598,2000,80.825775,1.026364,2.006070,15.721917,2.565899e-01
10220,40123089600,2000,82.729412,0.188235,1.270588,15.388235,9.411765e-02
10220,40123088600,2010,66.754767,1.491410,4.002265,10.005664,3.209364e-01
10220,40123088700,2010,75.645397,3.409644,2.435460,4.481247,0.000000e+00
10220,40123088800,2010,72.716117,2.686119,2.781565,8.099264,2.181620e-01
10220,40123088900,2010,60.224614,5.381376,8.399626,7.463734,6.317267e-01
10220,40123089000,2010,67.720609,2.127048,1.264731,7.674619,2.012072e-01
10220,40123089100,2010,66.148776,0.753296,7.909605,8.615819,1.318267e+00
10220,40123089200,2010,54.450867,9.942197,8.323699,6.705202,0.000000e+00
10220,40123089300,2010,68.310572,0.859889,5.108751,8.649469,0.000000e+00
10220,40123089598,2010,77.549039,0.563216,1.068169,6.622645,7.574286e-01
10220,40123089600,2010,76.859100,0.000000,3.767123,1.956947,0.000000e+00

In [39]:
clusters = community.cluster(columns=variables, method=method, n_clusters=nClusters)
clusters.gdf

,year,geoid,p_nonhisp_white_persons,p_nonhisp_black_persons,p_hispanic_persons,p_native_persons,p_asian_persons,kmeans
0,1980,40123089598,91.046025,1.338914,2.426776,5.271965,1.673641e-01,7
1,1990,40123088600,77.625839,0.861573,0.945104,20.420292,1.261406e-01,1
2,1990,40123088700,78.999848,2.662031,1.484692,16.809704,4.372511e-02,4
3,1990,40123088800,80.275844,4.915841,1.011498,13.447072,3.342327e-01,0
4,1990,40123088900,80.988681,3.672904,1.732502,12.404712,1.155001e+00,5
5,1990,40123089000,84.980695,0.424710,1.196911,13.281853,7.722008e-02,7
6,1990,40123089100,80.328597,2.797513,1.687389,14.964476,2.220249e-01,4
7,1990,40123089200,76.769406,5.707763,1.255708,15.924658,3.424658e-01,4
8,1990,40123089300,86.808024,1.791380,1.082819,10.040051,2.777269e-01,2
9,1990,40123089598,88.854792,0.817997,0.818007,9.355830,1.278116e-01,2
10,1990,40123089600,88.461793,0.000000,1.382881,10.107698,4.762771e-02,2
11,2000,40123088600,71.767074,1.194067,2.104837,24.549484,2.428716e-01,1
12,2000,40123088700,75.129533,2.547494,1.899827,20.120901,2.717636e-07,7
13,2000,40123088800,75.916385,4.166053,1.575151,17.606359,6.477256e-01,0
14,2000,40123088900,73.309179,4.589372,2.004831,18.067633,1.859903e+00,6
15,2000,40123089000,74.063503,1.355690,1.141634,23.260792,1.783803e-01,1
16,2000,40123089100,70.141343,3.710247,3.666078,21.952297,3.975265e-01,4
17,2000,40123089200,63.655352,6.057441,7.362924,22.036554,8.355091e-01,3
18,2000,40123089300,76.088789,3.596516,2.837876,16.633886,7.305423e-01,0
19,2000,40123089598,80.825775,1.026364,2.006070,15.721917,2.565899e-01,2
20,2000,40123089600,82.729412,0.188235,1.270588,15.388235,9.411765e-02,2
21,2010,40123088600,66.754767,1.491410,4.002265,10.005664,3.209364e-01,1
22,2010,40123088700,75.645397,3.409644,2.435460,4.481247,0.000000e+00,2
23,2010,40123088800,72.716117,2.686119,2.781565,8.099264,2.181620e-01,7
24,2010,40123088900,60.224614,5.381376,8.399626,7.463734,6.317267e-01,4
25,2010,40123089000,67.720609,2.127048,1.264731,7.674619,2.012072e-01,7
26,2010,40123089100,66.148776,0.753296,7.909605,8.615819,1.318267e+00,5
27,2010,40123089200,54.450867,9.942197,8.323699,6.705202,0.000000e+00,3
28,2010,40123089300,68.310572,0.859889,5.108751,8.649469,0.000000e+00,7
29,2010,40123089598,77.549039,0.563216,1.068169,6.622645,7.574286e-01,2
30,2010,40123089600,76.859100,0.000000,3.767123,1.956947,0.000000e+00,2

In [40]:
df_pivot = clusters.gdf.pivot(index='geoid', columns='year', values='kmeans')
df_pivot

year        1980 1990 2000 2010
geoid
40123088600  NaN    1    1    1
40123088700  NaN    4    7    2
40123088800  NaN    0    0    7
40123088900  NaN    5    6    4
40123089000  NaN    7    1    7
40123089100  NaN    4    4    5
40123089200  NaN    4    3    3
40123089300  NaN    2    0    7
40123089598    7    2    2    2
40123089600  NaN    2    2    2

In [41]:
yearList = []
for year in df_pivot.columns:
        aYearList = df_pivot[year].values.tolist()
        aYearList = list(map(float, aYearList)) 
        yearList.append(aYearList)
yearList

[[nan, nan, nan, nan, nan, nan, nan, nan, 7.0, nan],
 [1.0, 4.0, 0.0, 5.0, 7.0, 4.0, 4.0, 2.0, 2.0, 2.0],
 [1.0, 7.0, 0.0, 6.0, 1.0, 4.0, 3.0, 0.0, 2.0, 2.0],
 [1.0, 2.0, 7.0, 4.0, 7.0, 5.0, 3.0, 7.0, 2.0, 2.0]]

In [42]:
incs = linc(yearList)
incs

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [43]:
ave = sum(incs) / len(incs) if (len(incs) != 0) else -9999
ave

1.0